<form #f="ngForm" class="form-group text-center border border-light p-5" (submit)="generateCustomJoke()">
  <p class="h4 mb-4">Create a custom joke</p>
  <img src="https://i.imgflip.com/s5g6p.jpg" style="height: 50px;" class="rounded">
  <!-- firstname -->
  Firstname
  <input type="text"
         [(ngModel)]="firstname"
         name="firstname"
         required
         #nameCtrl="ngModel"
         class="form-control mb-4">
  <!-- lastnmae -->
  <img src="https://i.imgflip.com/8lvi0.jpg" style="height: 50px;" class="rounded">
  Lastname
  <input type="text"
         [(ngModel)]="lastname"
         name="lastname"
         required
         #lastnameCtrl="ngModel"
         class="form-control mb-4">
  <button type="submit"
          [disabled]="nameCtrl.invalid || lastnameCtrl.invalid"
          class="btn btn-info btn-block my-4">Generate !
  </button>
</form>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>{{customJoke?.value.joke}}</p>
    </div>
  </div>
</div>
